---
title: rules
---

<div class="howto_container">

<div class="rule">
  You can find the rules <a href="http://scvrush.challonge.com/">here</a>
</div>

<div class="checklist">
  <p class="list_title">The Wanna-play checklist</p>

  <ul>
  <li>Read the <a href="http://scvrush.challonge.com/">rules</a></li>
  <li>Create an account on <a href="http://challonge.com/">challonge</a></li>
  <li>Sign up in one or more <a href="play.html">tournaments</a></li>
  <li>Confirm your spot by checking in up to 30 minutes before the start</li>
  <li>Join our in-game chat: /join SCVRush</li>
  </ul>

 <p>Do not hesitate to ask our admins for help. There will always be at least one in the chat</p>
</div>

</div>
